<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>헤르츠 심리상담</title>
    <link rel="icon" type="image/x-icon" href="/public/img/common/img_favicon.png">

    <!-- css -->
    <link rel="stylesheet" href="/public/css/sub.css">

    <!-- js -->
    <script src="/public/js/jquery-3.6.1.min.js"></script>
    <script src="/public/js/common.js"></script>
    <script src="/public/js/privacy.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bfabed05ecec03b24f3be6acc8eda390"></script>
    <script>
        $(function(){
            $('.sec_4 .col_12 .bx_scroll_Y').html(privacy)
        })

        //===========
        function  btn_reserve(){
            let input_name = $('#input_name').val().trim()
            let input_phone0 = $('#input_phone0').val()
            let input_phone1 = $('#input_phone1').val().trim()
            let input_phone2 = $('#input_phone2').val().trim()
            let input_purpose = $('#input_purpose').val()
            let input_center = $('input[name="input_center"]:checked').attr('data-value')
            let input_how = $('#input_how').val()

            let input_policy = $('#input_policy').is(':checked')

            if(input_name == ''){
                alert('이름을 입력해주세요')
                $('#input_name').focus()
            }
            else if(input_phone1 == ''){
                alert('전화번호를 입력해주세요')
                $('#input_phone1').focus()
            }
            else if(input_phone2 == ''){
                alert('전화번호를 입력해주세요')
                $('#input_phone2').focus()  
            } 
            else if(input_purpose == ''){
                alert('상담목적을 입력해주세요')
                $('#input_purpose').focus()
            }
            else if(input_how == ''){
                alert("방문 경로를 입력해주세요")
                $('#input_how').focus()
            }
            else if(!input_policy){
                alert('개인정보 수집 및 이용 동의를 확인해주세요')
                $('#input_policy').focus()
            }
            else{
                let input_phone = $('#input_phone').val(input_phone0 + '-' + input_phone1 + '-' + input_phone2)
                let input_selectedcenter = $('#input_selectedcenter').val(input_center)
                $('#form_email').submit()
                alert('상담문의가 정상적으로 신청되었습니다')

                setTimeout(() => {
                    location.reload()
                }, 200);
             
            }
        }
    </script>
</head>
<body id="page_index">
    <header></header>
    <main>
        <div class="bn">
            <!-- <b class="maxWidth">5월 헤르츠 잠실센터 OPEN</b> -->
            <img src="/public/img/sub/main_img_bn.png" class="pc" alt="">
            <img src="/public/img/sub/main_img_bn_mobile.png" class="mobile" alt="">
        </div>
        <section class="sec_1">
            <img src="/public/img/common/img_logo.png" alt="" class="img_0">
            <img src="/public/img/sub/main_sec1_img_1.png" alt="" class="img_1">

            <div class="maxWidth">
                <h4>“마음의 용기가 닿는 곳”</h4>
                <p>당신의 마음의 용기는 이미 시작되었습니다.</p>
                <hr>
                <span>
                    헤르츠(herz)는 독일어로 마음, 용기, 영혼, 심장이라는 뜻입니다.<br>
                    헤르츠심리상담센터는 2023년 5월에 롯데마트 제타플랙스점에 개소하였습니다.<br>
                    우리센터는 심리학 석,박사 학위를 지닌 전문가 집단으로 상담심리사1급, 발달심리사1급,<br>
                    임상심리전문가,  중독심리전문가 등의 한국심리학회 공인 자격과 정신건강임상심리사 1급,<br> 언어재활사1급, 청소년상담사 1급 등의 국가 자격을 보유한 전문가로 구성되어 있습니다.<br>
                    당신의 용기에 박수를 보내며 심리적인 도움을 드리도록 최선의 노력을 다하겠습니다.<br><br>
                    - 센터장 최경수 올림
                </span>
            </div>
        </section><hr>

        <section class="sec_2 maxWidth">
            <h4>전문 상담 클리닉</h4>
            <a href="./counselling.html?0">
                <img src="/public/img/sub/main_sec2_img_1.png" alt="">
                아동 상담
                <p>발달장애, 분리불안,<br>언어문제, 학교부적응 등</p>
                <span class="link_viewMore">자세히보기</span>
            </a>
            <a href="./counselling.html?1">
                <img src="/public/img/sub/main_sec2_img_2.png" alt="">
                청소년 상담
                <p>우울/불안, 스마트폰 중독,<br>게임 중독, 도박 중독</p>
                <span class="link_viewMore">자세히보기</span>
            </a>
            <a href="./counselling.html?2">
                <img src="/public/img/sub/main_sec2_img_3.png" alt="">
                성인 상담
                <p>우울/불안, 직장스트레스,<br>도박중독, 대학생 학습증진</p>
                <span class="link_viewMore">자세히보기</span>
            </a>
            <a href="./counselling.html?3">
                <img src="/public/img/sub/main_sec2_img_4.png" alt="">
                노인 상담
                <p>우울/불안, 고독, 치매 등<br>&nbsp;</p>
                <span class="link_viewMore">자세히보기</span>
            </a>
            <a href="./counselling.html?4">
                <img src="/public/img/sub/main_sec2_img_5.png" alt="">
                가족 상담
                <p>성격차이, 가족폭력,<br>커플 및 부부 갈등</p>
                <span class="link_viewMore">자세히보기</span>
            </a>
        </section><hr>

        <section class="sec_3 wrap_col">
            <h4 class="col_12">전문가</h4>
            <div class="col_4">
                <img src="/public/img/sub/main_sec3_img_1.png" alt="">
                <hr>
                <b>최경수</b>
                <span>
                    ∙ 가톨릭 대학교 상담 및 임상심리학 석사<br>
                    ∙ 용인정신병원 임상심리과 <br>
                    ∙ 서울올림픽기념 국민체육진흥공단<br> 
                    ∙ 한국도박문제예방치유원 정신건강임상심리사 1급<br>
                    ∙ 중독심리전문가
                </span>
            </div>
            <div class="col_4">
                <img src="/public/img/sub/main_sec3_img_2.png" alt="">
                <hr>
                <b>한소희</b>
                <span>
                    ∙ 이화여대 심리학사, 이화여대 대학원 심리학 석사<br>  
                    ∙ 일산백병원 발달증진클리닉, 인간발달복지연구소, 아이코리아 아동발달교육연구원 <br>
                    ∙ 파랑새 아동청소년 연구소<br> 
                    ∙ 발달심리사 1급
                </span>
            </div>
            <div class="col_4">
                <img src="/public/img/sub/main_sec3_img_3.png" alt="">
                <hr>
                <b>윤혜민</b>
                <span>
                    ∙ 가천대학교 특수치료대학원 언어치료학 석사<br>
                    ∙ 아이코리아, 구로구가족센터, 강서큰나무재활의학과의원<br>
                    ∙ 언어재활사 1급
                </span>
            </div>
            <div class="col_12">
                <a href="./introduction.html" class="link_viewMore">자세히보기</a>
            </div>
        </section><hr>

        <section class="sec_4 maxWidth wrap_col">
            <h4 class="col_12">상담 문의 신청</h4>

            <div class="col_5" id="map"></div>
            <script>
                var container = document.getElementById('map'); 
                var options = { 
                    center: new kakao.maps.LatLng(37.5110794, 127.0981638), //지도의 중심좌표.
                    level: 3 //지도의 레벨(확대, 축소 정도)
                };

                var map = new kakao.maps.Map(container, options); 

                var markerPosition  = new kakao.maps.LatLng(37.5110794, 127.0981638);

                var marker = new kakao.maps.Marker({
                    position: markerPosition
                });

                kakao.maps.event.addListener(marker, 'click', function(mouseEvent) {
                    window.open('//map.kakao.com/?q=%ED%97%A4%EB%A5%B4%EC%B8%A0%20%EC%8B%AC%EB%A6%AC%EC%83%81%EB%8B%B4');
                });
                
                marker.setMap(map);
                setTimeout(function(){ map.relayout(); }, 200);
            </script>
            <form id="form_email" class="col_7" method="post" data-email="herzcs.info@gmail.com" target="iframe1" action="//script.google.com/macros/s/AKfycbxrTKVj9lJOr9HPWtljbDSvon6IxznpNfZmq2NSlLWWtyeRCZ3SIisK5U2eASFOQ199TQ/exec">
                <span>* 표시는 필수 입력</span>
                <table>
                    <tr>
                        <th>*이름</th>
                        <td><input type="text" id="input_name" name="input_name" placeholder="이름을 입력해주세요"></td>
                    </tr>
                    <tr>
                        <th>*연락처</th>
                        <td>
                            <div class="wrap_td wrap_phone">
                                <select id="input_phone0">
                                    <option value="010" selected>010</option>
                                    <option value="011">011</option>
                                    <option value="012">012</option>
                                    <option value="013">013</option>
                                    <option value="015">015</option>
                                    <option value="016">016</option>
                                    <option value="017">017</option>
                                    <option value="018">018</option>
                                    <option value="019">019</option>
                                </select><i></i>
                                <input type="number" id="input_phone1" oninput="maxLeng(this, 4)"><i></i>
                                <input type="number" id="input_phone2" oninput="maxLeng(this, 4)">
                                <input type="hidden" id="input_phone" name="input_phone">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>*상담목적</th>
                        <td>
                            <select name="input_purpose" id="input_purpose">
                                <option value="" selected hidden>선택하세요</option>
                                <option value="우울/불안">우울/불안</option>
                                <option value="스트레스">스트레스</option>
                                <option value="도박 게임 과몰입/중독">도박, 게임 과몰입/중독</option>
                                <option value="학습증진">학습증진</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>*센터 선택</th>
                        <td>
                            <div class="wrap_td wrap_center">
                                <label class="lb_chk active" tabindex="0" onkeypress="triggerClick(this)"><input type="radio" name="input_center" id="" data-value="잠실센터" onclick="lb_chk(this)" checked hidden>잠실센터</label>
                                <!-- <label class="lb_chk" tabindex="0" onkeypress="triggerClick(this)"><input type="radio" name="input_center" id="" data-value="용산센터" hidden>용산센터</label>
                                <label class="lb_chk" tabindex="0" onkeypress="triggerClick(this)"><input type="radio" name="input_center" id="" data-value="강남센터" hidden>강남센터</label>
                                <label class="lb_chk" tabindex="0" onkeypress="triggerClick(this)"><input type="radio" name="input_center" id="" data-value="강서센터" hidden>강서센터</label> -->
                                <label class="lb_chk disabled" tabindex="0" onkeypress="triggerClick(this)"><input type="radio" name="input_center" id="" data-value="강서센터" onclick="lb_chk(this)" hidden disabled>서울역센터</label>

                                <input type="hidden" id="input_selectedcenter" name="input_selectedcenter">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>*방문 경로</th>
                        <td>
                            <select name="input_how" id="input_how">
                                <option value="" selected hidden>선택하세요</option>
                                <option value="SNS 광고">SNS 광고</option>
                                <option value="네이버 광고">네이버 광고</option>
                                <option value="지인 추천">지인 추천</option>
                                <option value="기타 팜플렛 인터넷 검색 등">기타(팜플렛, 인터넷 검색 등)</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </form><iframe id="iframe1" name="iframe1" style="display:none"></iframe>

            <div class="col_12">
                <b>개인정보 수집 및 이용 동의</b>
                <div class="bx_scroll_Y"></div>
    
                <label class="lb_chk" tabindex="0" onkeypress="triggerClick(this)"><input type="checkbox" name="" id="input_policy" tabindex="-1">개인정보 수집 및 이용에 동의합니다.</label>
    
                <a href="javascript: btn_reserve();" class="link_reserve">예약하기</a>
            </div>
        </section>
    </main>
    <footer></footer>
</body>
</html>