<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>헤르츠 심리상담</title>
    <link rel="icon" type="image/x-icon" href="/public/img/common/img_favicon.png">

    <!-- css -->
    <link rel="stylesheet" href="/public/css/sub.css">

    <!-- js -->
    <script src="/public/js/jquery-3.6.1.min.js"></script>
    <script src="/public/js/common.js"></script>
    <script>
        
    </script>
</head>
<body id="page_introduction">
    <header></header>
    <main>
        <div class="bn">
            <b class="maxWidth">전문가소개</b>
            <img src="/public/img/sub/introduction_img_bn.png" alt="" class="pc">
            <img src="/public/img/sub/introduction_img_bn_mobile.png" alt="" class="mobile">
        </div>

        <h2 class="t_list maxWidth2">전문가 소개</h2>
        <ul class="maxWidth">
            <li>
                <img src="/public/img/sub/introduction_img_1.png" alt="">
                <div><b title="중독심리전문가">최경수</b>
                    ∙ 가톨릭 대학교 상담 및 임상심리학 석사 <br>
                    ∙ 용인정신병원 임상심리과<br>
                    ∙ 서울올림픽기념 국민체육진흥공단<br>
                    ∙ 한국도박문제예방치유원<br>
                    ∙ 정신건강임상심리사 1급, 중독심리전문가
                </div>
            </li>
            <li>
                <img src="/public/img/sub/introduction_img_2.png" alt="">
                <div><b title="발달심리사 1급">한소희</b>
                    ∙ 이화여대 심리학사, 이화여대 대학원 심리학 석사<br>  
                    ∙ 일산백병원 발달증진클리닉, 인간발달복지연구소, 아이코리아 아동발달교육연구원 <br>
                    ∙ 파랑새 아동청소년 연구소<br> 
                    ∙ 발달심리사 1급
                </div>
            </li>
            <li>
                <img src="/public/img/sub/introduction_img_3.png" alt="">
                <div><b title="언어재활사 1급">윤혜민</b>
                    ∙ 가천대학교 특수치료대학원 언어치료학 석사<br>
                    ∙ 아이코리아, 구로구가족센터, 강서큰나무재활의학과의원<br>
                    ∙ 언어재활사 1급
                </div>
            </li>
            <li>
                <img src="/public/img/sub/introduction_img_4.png" alt="">
                <div><b title="상담심리사 1급">이기현</b>
                    ∙ 가톨릭대학교 상담심리학 석사<br>
                    ∙ 경희대학교 국제캠퍼스 학생지원센터<br>
                    ∙ 안양시, 의왕시, 시흥시 청소년 상담복지센터<br>
                    ∙ 상담심리사 1급
                </div>
            </li>
            <li>
                <img src="/public/img/sub/introduction_img_5.png" alt="">
                <div><b title="상담심리사 1급">한영옥</b>
                    ∙ 서울여대 상담 및 임상심리학 박사 <br>
                    ∙ 서울성모병원 임상심리과 <br>
                    ∙ 미국위스콘신주립대 아동가족학 포스트닥터과정<br> 
                    ∙ 미국미주리주립대 의과대학 정신건강연구소 연구교수<br>
                    ∙ 한국마사회, 서울서부 스마일센터<br>
                    ∙ 상담심리사 1급, 임상심리전문가, 정신건강임상심리사 1급, 중독심리전문가
                </div>
            </li>
            <li>
                <img src="/public/img/sub/introduction_img_6.png" alt="">
                <div><b title="상담심리사 1급">김연희</b>
                    ∙ 아주대학교 교육학 상담심리 석사 <br>
                    ∙ 아주대 학생상담소, 가천대 학생상담센터, 강남대 마음나눔센터, 네이버 사내상담실 상담심리사 1급
                </div>
            </li>
            <li>
                <img src="/public/img/sub/introduction_img_7.png" alt="">
                <div><b title="임상심리전문가">정애기</b>
                    ∙ 심리학사, 상담 및 임상심리학 석사<br>
                    ∙ 영남대 정신의학과, 한국국방연구원, 울산대병원 정신의학과 <br>
                    ∙ 임상심리전문가
                </div>
            </li>
            <li>
                <img src="/public/img/sub/introduction_img_8.png" alt="">
                <div><b title="임상심리전문가">이규영</b>
                    ∙ 가톨릭대학교 임상심리학 석사 <br>
                    ∙ 길의료재단 길병원 임상심리과 <br>
                    ∙ 임상심리전문가 
                </div>
            </li>
            <li>
                <img src="/public/img/sub/introduction_img_9.png" alt="">
                <div><b title="임상심리전문가">강훈희</b>
                    ∙ 고려대 경제학사, 한양사이버대학 심리상담 석사 <br>
                    ∙ 수서종합사회복지관, 송파아이존, 한국도박문제예방치유원<br>
                    ∙ 과천시보건소 치매안심센터, 인천서부we센터 <br>
                    ∙ 임상심리전문가
                </div>
            </li>
            <li>
                <img src="/public/img/sub/introduction_img_10.png" alt="">
                <div><b title="임상심리전문가">진효정</b>
                    ∙ 성신여대 심리학 석사 <br>
                    ∙ 경기남부 지방경찰청 마음건강상담실, 고려대 학생상담센터, 한국예술종합학교 <br>
                    ∙ 임상심리전문가, 정신건강임상심리사1급
                </div>
            </li>
            <li>
                <img src="/public/img/sub/introduction_img_11.png" alt="">
                <div><b title="임상심리전문가">차지연</b>
                    ∙ 성신여대 심리학 석사 <br>
                    ∙ 아주대병원 정신건강의학과, 부천성모병원 정신건강의학과<br>
                    ∙ 임상심리전문가
                </div>
            </li> 
            <li> <img src="/public/img/sub/introduction_img_12.png" alt="">
                <div>
                    <b title="인지학습 심리사 1급">정윤재</b>
                    ∙ 가톨릭대학교 실험 및 인지심리학 박사<br>
                    ∙ 한국 대학교육경영 컨설팅 책임 컨설턴트<br>
                    ∙ 한솔교육 부모 아이 연구팀 책임 연구원<br>
                    ∙ 한국 열린 사이버대학교 평생교육원 심리학 전담교수<br>
                    ∙ 가천대학교 심리학과 대우교수<br>
                    ∙ 인지학습 심리사 1급 
                </div>
            </li>          
            <li> <img src="/public/img/sub/introduction_img_13.png" alt="">
                <div>
                    <b title="인지학습 심리사 1급">장미숙</b>
                    ∙ 가톨릭대학교 실험 및 인지심리학 박사<br>
                    ∙ 연세대학교 세브란스 의공학 연구소, 가톨릭대학교 교수학습 개발원<br> 
                    ∙ 인지학습 심리사 1급
                </div>
            </li>          
        </ul>
    </main>
    <footer></footer>
</body>
</html>