<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>헤르츠 심리상담</title>
    <link rel="icon" type="image/x-icon" href="/public/img/common/img_favicon.png">

    <!-- css -->
    <link rel="stylesheet" href="/public/css/sub.css">

    <!-- js -->
    <script src="/public/js/jquery-3.6.1.min.js"></script>
    <script src="/public/js/common.js"></script>
    <script>
        
    </script>
</head>
<body id="page_procedure">
    <header></header>
    <main>
        <div class="bn">
            <b class="maxWidth">상담절차</b>
            <img src="/public/img/sub/procedure_img_bn.png" alt="" class="pc">
            <img src="/public/img/sub/procedure_img_bn_mobile.png" alt="" class="mobile">
        </div>

        <section class="maxWidth2">
            <h2 class="t_list">상담절차</h2>

            <ul class="bx_step">
                <li><div class="bx_icon"><img src="/public/img/sub/procedure_img_step1.png" alt=""></div>
                    <p>예약<br>(전화 및 온라인)</p>
                </li>
                <li><div class="bx_icon"><img src="/public/img/sub/procedure_img_step2.png" alt=""></div>
                    <p>방문/초기 상담</p>
                </li>
                <li><div class="bx_icon"><img src="/public/img/sub/procedure_img_step3.png" alt=""></div>
                    <p>심리검사</p>
                </li>
                <li><div class="bx_icon"><img src="/public/img/sub/procedure_img_step4.png" alt=""></div>
                    <p>해석상담 및 치료계획수립</p>
                </li>
                <li><div class="bx_icon"><img src="/public/img/sub/procedure_img_step5.png" alt=""></div>
                    <p>상담 및 심리치료</p>
                </li>
                <li><div class="bx_icon"><img src="/public/img/sub/procedure_img_step6.png" alt=""></div>
                    <p>종결 및 추적<br>계획 수립</p>
                </li>
            </ul>

            <span class="t_guide">* 내담자 상황 및 요구에 따라 변동 가능</span>

            <div class="wrap_contents wrap_procedure" data-index="0">
                <b class="t_list" data-value="STEP 1 ">예약(전화 및 온라인)</b>
                <p>
                    상담의 첫 단계로, 상담 유형과 방문 가능시간을 확인하고 조율하는 단계입니다.예약에 변동사항이 있을 경우, 하루 전까지 말씀해주세요.전화, 카톡채널, 상담 문의 신청 등을 통해 가능 합니다.
                </p>

                <b class="t_list" data-value="STEP 2 ">방문/초기 상담</b>
                <p>
                    첫 방문으로써 60분 내외의 접수상담이 진행됩니다. 내담자의 주호소 문제, 가족관계, 그전의 상담 경험 등을 함께 나누며 그에 따른 상담계획을 수립합니다. 심리검사 계획도 함께 조율할 수 있습니다.
                   <br>&ensp;•&nbsp;초기상담 및 내담자 성향을 파악하여 분야별 전문가 배정
                   <br>&ensp;•&nbsp;검사 및 치료가 필요하지 않다고 판단되는 경우 간단팁 제공 후 종결
                </p>  

                <b class="t_list" data-value="STEP 3 ">심리검사</b>
                <p>
                    문제에 대한 객관적인 파악을 위해 심리검사를 실시합니다. 검사의 종류와 방법은 대상과 문제에 따라 담당 선생님과 협의 후에 결정됩니다,
                    <br>&ensp;•&nbsp;영유아 발달검사 60분~90분
                    <br>&ensp;•&nbsp;중독검사 30분(게임, 인터넷, 스마트폰, 도박)
                    <br>&ensp;•&nbsp;지능검사 60분
                    <br>&ensp;•&nbsp;성격 및 기질검사 60분~90분
                    <br>&ensp;•&nbsp;성인 및 청소년 종합심리검사 120분~150분
                </p>

                <b class="t_list" data-value="STEP 4 ">해석상담 및 치료계획수립</b>
                <p>
                    심리검사 결과에 대한 해석상담을 진행합니다. 해석상담의 비용은 심리검사 비용에 포함되어 있습니다. 초기상담의 내용과 검사 결과, 현 문제와의 관련성 등을 파악하여 내담자에게 알려주고 이를 종합하여 향후 심리 상담의 회기와 내용에 대한 종합적인 계획을 세울 수 있게 됩니다.
                </p>

                <b class="t_list" data-value="STEP 5 ">상담 및 심리치료</b>
                <p>
                    본격적인 상담과 치료를 진행합니다. 회기와 기간은 내담자와 상담자가 협의하여 결정합니다.
                    <br>&ensp;•&nbsp;분야별로 회기 진행(평균 10회기 이상)
                    <br>&ensp;•&nbsp;언어 및 발달 관련 상담 50분(아동 40분, 부모 10분)
                    <br>&ensp;•&nbsp;청소년 및 성인 상담 50분
                    <br>&ensp;•&nbsp;부부 상담 90분~120분
                    <br>&ensp;•&nbsp;집단상담 2시간 이상(case by case)
                </p>

                <b class="t_list" data-value="STEP 6 ">종결 및 추적계획 수립</b>
                <p>
                    상담 성과 확인 및 상담을 종결 합니다.증상에 대한 추척계획을 내담자와 상담자가 협의하여 수립합니다.
                </p>
            </div>


          
        </section>
    </main>
    <footer></footer>
</body>
</html>