<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>헤르츠 심리상담</title>
    <link rel="icon" type="image/x-icon" href="/public/img/common/img_favicon.png">

    <!-- css -->
    <link rel="stylesheet" href="/public/css/sub.css">

    <!-- js -->
    <script src="/public/js/jquery-3.6.1.min.js"></script>
    <script src="/public/js/common.js"></script>
    <script>
        
    </script>
</head>
<body id="page_program">
    <header></header>
    <main>
        <div class="bn">
            <b class="maxWidth">특화프로그램</b>
            <img src="/public/img/sub/program_img_bn.png" alt="" class="pc">
            <img src="/public/img/sub/program_img_bn_mobile.png" alt="" class="mobile">
        </div>

         <section class="maxWidth2">
            <h2 class="t_list">특화프로그램</h2>
            <i style="height: 65px;" class="pc"></i>
            <i style="height: 50px;" class="mobile"></i>

            <h3>특화프로그램</h3>
            <span class="t_guide">
                놀이언어통합발달 프로그램, 중독치유 프로그램,<br>새내기부부 및 중년부부위기 치료
            </span>
            <h4>‘말 잘하고 잘 놀기’ 놀이 언어 통합발달 프로그램</h4>
            <h5>언어문제와 발달상의 문제를 연속성있는 회기를 통해 다루는 치료</h5>
            <div class="wrap_contents">
                <b class="t_list">목표</b>
                <p>또래 상호작용을 통한 언어 및 놀이 발달을 촉진하여 아동의 전반적인 발달 및 사회성 증진을 동시에 이룰 수 있도록 함</p>

                <b class="t_list">대상연령</b>
                <p>
                    유아~초등 저학년 아동 
                </p>

                <b class="t_list">구성인원</b>
                <p>
                    짝그룹(2명) 또는 소그룹(3~4명)
                </p>

                <b class="t_list">회기구성</b>
                <p>
                    12회기 (주1회), 언어치료 프로그램 (20분) + 놀이치료 프로그램 (20분)
                </p>
            </div>
            <i style="height: 42px;"></i>

            <h4>‘열두번만 참자’ 중독치유 프로그램</h4>
            <h5>
                청소년과 성인의 게임 및 도박문제를 구조화 된 12번의 회기를 통해 치유노력 경주
            </h5>
            <div class="wrap_contents">
                <b class="t_list">목표</b>
                <p>
                    도박이나 게임등을 일정기간 상담의 힘을 통해 억제함으로써 내담자의 자기효능감 증진 및 자신감 회복
                </p>
            </div>
            
            <i style="height: 42px;"></i>
            <h4>‘서로 다른 우리 이해하기’프로그램’</h4>
            <h5>새내기 부부 및 중년부부 위기 치료</h5>

            <div class="wrap_contents">
                <b class="t_list">회기구성</b>
                <p>새내기 부부, 커플상담 5회기</p>
                <b class="t_list">내용</b>
                <p>
                    심리평가(결혼만족도 검사, 가족기능검사, 친밀관계척도, 성생활 만족도 지수, MMPI) + 해석 상담을 통한 자신 및 상대방 이해 + 부부(커플) 대화법 + 상대방의 가치관 이해 + 결혼 만족도 높이는 전략
                </p>
            </div>
            <i style="height: 10px;" class="pc"></i>
            <i style="height: 12px;" class="mobile"></i>
            <div class="wrap_contents">
                <b class="t_list">회기구성</b>
                <p>
                    중년 위기탈출 부부상담 5회기
                </p>
                <b class="t_list">내용</b>
                <p>
                    심리평가(결혼만족도 검사, 가족기능검사, 친밀관계척도, 성생활 만족도 지수, MMPI) + 해석 상담을 통한 자신 및 상대방 이해 + 부부 대화법 + 부부 갈등, 욕구 결핍 다루고 타협하기
                </p>
            </div>
        </section>
    </main>
    <footer></footer>
</body>
</html>